@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Edit</h2>

<h4>Edit this engineer: @Html.DisplayFor(model => model.EngineerName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("EngineerName", "Engineer Name")
  @Html.EditorFor(model => model.EngineerName)

  <input type="submit" value="save" />
}

<p>@Html.ActionLink("Back to engineer list", "Index")</p>